@charset "UTF-8";

.warning-icon {
    font-size: 20px;
    margin-right: 8px;
    color: #856404;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;								/*FlexBox 형식*/
    flex-direction: column;						/*주 방향을 세로*/
}

#for_Login {
	align-items: center; 						/*세로 방향의 가운데 정렬*/
    background-color: white;
    padding: 20px;								/*내부 여백*/
    border-radius: 5px;							/*꼭지점을 둥글게 하는 반경*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;							/*페이지 위쪽 여백 100px, 좌우 여백 자동*/
    width: 100%;									/*요소의 너비를 부모의 너비의 90%*/
    max-width: 600px;							/*요소의 최대 너비*/
}

table {
    width: 100%;
}

table tr {
    margin-bottom: 10px;						/*각 행 여백*/
}

table td {
    padding: 10px;
    vertical-align: middle; /* 세로 방향 가운데 정렬 */
}

#showPasswd {
    background-color: #007BFF;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#showPasswd:hover {
    background-color: #0056b3;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px; /* 간격 추가 */
    padding-right: 50px}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

input[type="submit"]:hover {
    background-color: #218838;
}

#sitesShortCut {
    margin-top: 10px;
    text-align: center;
}

#sitesShortCut a {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 5px;
}

#sitesShortCut a:hover {
    background-color: #0056b3;
}

#debugLink {
    display: block;
    margin-top: 10px;
    text-align: center;
}

#debugLink a {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
}

#debugLink a:hover {
    color: #495057;
}

#header {
	padding: 10px;
    display: block;
}
